/* home and about page css */

/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    color: skyblue;
}

p {
    color: lightpink;
    font-size: 23px;
}

a :link {
    color: bisque;
} */



/* page css */

/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
}

.container {
    text-align: center;
    background-color: rgb(1, 1, 50);
}


h1 {
    color: yellowgreen;
    font-size: 55px;
}

p {
    color: white;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: white;
    font-size: 25px;
    margin: 50px;
} */




/* sign in and sign up page css */

/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
}

.main {
    border: 2px solid black;
    background-color: white;
}


.container {
    margin: 75px;
    border: 2px solid red;
    display: flex;
    position: relative;
}

.leftside {
    padding: 20px;
    float: left;
    border: 1px solid #ccc;
    background-color: #3786bd;
    width: 100%;
}

.rightside {
    padding: 20px;
    float: left;
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
}

h1 {
    font-size: 45px;
    color: white;
    font-family: sans-serif;
    margin: 100px;
}

p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 50px;
    font-size: 20px;
}

h2 {
    color: black;
    font-family: sans-serif;
    margin: 50px;
    font-size: 35px;
}

input[type=text], input[type=password] {
    font-size: 18px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

h3 {
    color: black;
    font-family: sans-serif;
    text-align: left;
}

button {
    background-color: #3786bd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    font-size: 20px;
  }
  
button:hover {
    opacity: 0.8;
  }

h4 {
    color: black;
    font-family: sans-serif;
    text-align: end;
    margin-top: 15px;
    margin-bottom: 15px;
} */




/* menu page css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

header {
    position: sticky;
    top: 0px;
    background-color: rgb(1, 71, 1);
    width: 100%;
    z-index: 1000;
}

.container {
    /* max-width: 65rem; */
    padding: 0 2rem;
    /* margin: 0 auto; */
    display: flex;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
}

h3 {
    color: white;
    font-size: 25px;
}

.navbar {
    flex: 3;
    display: flex;
}

.nav-btn {
    flex: 2;
}

.nav-btn > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: relative;
}

.nav > a {
    line-height: 3rem;
    color: white;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
  
.nav > a > i {
    margin-left: .2rem;
}
  
.nav:hover > a {
    transform: scale(1.1);
}
  
a {
    text-decoration: none;
}  

ul {
    list-style-type: none;
}