/* home and about page css */

/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    color: skyblue;
}

p {
    color: lightpink;
    font-size: 23px;
}

a :link {
    color: bisque;
} */



/* page css */

/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
}

.container {
    text-align: center;
    background-color: rgb(1, 1, 50);
}


h1 {
    color: yellowgreen;
    font-size: 55px;
}

p {
    color: white;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: white;
    font-size: 25px;
    margin: 50px;
} */




/* sign in, sign up page and forgot password css */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
}

.main {
    border: 2px solid black;
    background-color: white;
}


.container {
    margin: 75px;
    border: 2px solid red;
    display: flex;
    position: relative;
}

.leftside {
    padding: 20px;
    float: left;
    border: 1px solid #ccc;
    background-color: #3786bd;
    width: 100%;
}

.rightside {
    padding: 20px;
    float: left;
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
}

h1 {
    font-size: 45px;
    color: white;
    font-family: sans-serif;
    margin: 100px;
}

p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 50px;
    font-size: 20px;
}

h2 {
    color: black;
    font-family: sans-serif;
    margin: 50px;
    font-size: 35px;
}

input[type=text], input[type=password] {
    font-size: 18px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

h3 {
    color: black;
    font-family: sans-serif;
    text-align: left;
}

button {
    background-color: #3786bd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  
button:hover {
    opacity: 0.8;
  }

h4 {
    color: black;
    font-family: sans-serif;
    text-align: end;
    margin-top: 15px;
    margin-bottom: 15px;
} 
 
h5 {
    color: black;
    font-size: 20px;
}






/* success page css */

/* body{
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
  } */
   #success_tic .page-body{
    max-width:300px;
    background-color:#FFFFFF;
    margin:10% auto;
  }
   #success_tic .page-body .head{
    text-align:center;
  }
  /* #success_tic .tic{
    font-size:186px;
  } */
  #success_tic .close{
        opacity: 1;
      position: absolute;
      right: 0px;
      font-size: 30px;
      padding: 3px 15px;
    margin-bottom: 10px;
  }
  #success_tic .checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #1ab394;
    position: absolute;
  }
  #success_tic .checkmark-circle .checkmark {
    border-radius: 5px;
  }
  #success_tic .checkmark-circle .checkmark.draw:after {
    animation-delay: 300ms;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
    animation-fill-mode: forwards;
  }
  #success_tic .checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    transform-origin: left top;
    border-right: 15px solid #fff;
    border-top: 15px solid #fff;
    border-radius: 2.5px !important;
    content: '';
    left: 35px;
    top: 80px;
    position: absolute;
  }
  
  @-webkit-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @-moz-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  
  







/* menu page css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
  
.navbar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex: 1;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: yellowgreen;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    background-color: rgb(1, 71, 1);
    padding: 0 2rem;
    display: flex;
    position: relative;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }

  h1 {
    color: white;
    font-size: 30px;
}
.icon {
    display: flex;
    align-items: center;
    color: white;
    font-size: 26px;
}
.mainpage {
    height: 650px;
    color: black;
    background-color: beige;
}
p {
    text-align: center;
    font-size: 20px;
}