{% extends 'blog/base.html' %}

    {% block content %}
        <h1>About</h1>
        <p><a href="/"> Visit Home Page </a></p> 

        <h2> War and Peace </h2>
        <p> War and Peace is a literary work by Russian author Leo Tolstoy. </br>
            Set during the Napoleonic Wars, the work mixes fictional narrative with chapters discussing history and philosophy. </br>
            An early version was published serially beginning in 1865, after which the entire book was rewritten and published in 1869. </p>

        <h2> Time Machine </h2>
        <p> The Time Machine is an 1895 dystopian post-apocalyptic science fiction novella by H. G. Wells </br> 
            About a Victorian scientist known as the Time Traveller who travels approximately 800,806 years into the future. </br>
            The work is generally credited with the popularization of the concept of time travel by using a vehicle or device to travel purposely and selectively forward or backward through time. </br> 
            The term "time machine", coined by Wells, is now almost universally used to refer to such a vehicle or device. </p>
    {% endblock content %}





{% comment %} <!DOCTYPE html>  
{% load static %}
<html lang="en">  
<head>  
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About template</title>  

</head>  
<body>  

    <h1 style="text-align: center;"> About Page </h1>
    <h2 style="text-align: center;"> <a href="/"> Home </h2>

        {% extends 'base.html' %}
            {% block content %}
                <h1>About</h1>
            {% endblock content %}




</body>  
</html>   {% endcomment %}