<!DOCTYPE html>  
{% load static %}
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> FORM </title>  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    
</head>  
<body> 

{% comment %} header section start {% endcomment %}
    <div class="container">        
        <div class="logo">
            <h1> ABC Tech </h1>
        </div>

        <div class="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>

                <div class="dropdown">
                <button class="dropbtn"> Blog 
                    <i class="fa fa-caret-down"></i>
                </button>

                <div class="dropdown-content">
                    <a href="#">Blog 1</a>
                    <a href="#">Blog 2</a>
                    <a href="#">Blog 3</a>
                </div>

                </div> 

                <a href="#news">Contact</a>
        </div>

        <div class="icon">
            <i class="fa fa-instagram" aria-hidden="true" style="padding-right: 15px;"></i>
            <i class="fa fa-facebook-official" aria-hidden="true" style="padding-right: 15px;"></i>
            <i class="fa fa-twitter" aria-hidden="true" style="padding-right: 15px;"></i>
            <i class="fa fa-telegram" aria-hidden="true"></i>
        </div>      
    </div>
{% comment %} header section end {% endcomment %}



{% comment %} form section start {% endcomment %}

<div class="container_form">
    <form class= "form">

        <div class= "header_detail_box">        

            <div class= "book_header">
                <h1> Book Entry Form </h1>
            </div> 

            <div class= "detail_box">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
            
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="book name">Book Name</label>
                <input type="text" id="book name" name="book name" placeholder="Book Name..">
            
                <label for="author name">Author Name</label>
                <input type="text" id="author name" name="author name" placeholder="Author Name..">            
            
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
  </div>             

{% comment %} form section end {% endcomment %}


    
{% comment %} footer content start {% endcomment %}
<div class="footer">
    
    <div class="icon1">
        <i class="fa fa-instagram" aria-hidden="true" style="padding-right: 15px;"></i>
        <i class="fa fa-facebook-official" aria-hidden="true" style="padding-right: 15px;"></i>
        <i class="fa fa-twitter" aria-hidden="true" style="padding-right: 15px;"></i>
        <i class="fa fa-telegram" aria-hidden="true"></i>
    </div>

    <div class="name">
        <p> Home  About  Blog  Contact </p>
    </div>

    <div class="logo-container1">
        <h1> ABC Tech </h1>
    </div>
    
</div>

{% comment %} footer content end {% endcomment %}
</body>  
</html>  
