{% extends 'blog/layout.html' %}
{% block title %}
    Post Home page
{% endblock %}

    {% block content %}
        <div class= "box">
            <h1>My Posts</h1>

            {% for post in posts %}

            <article class="post">
            <h2>
                {% if post.slug %}
                        {{ post.title }}
                    
                {% else %}
                    <a href= "{{post.get_absolute_url}}">
                        {{ post.title }}
                    </a>
                {% endif %}
            </h2>

            <h3>Published on {{ post.published_at | date:"M d, Y" }} by {{ post.author | title}}</h3>
            {% comment %} <p>{{ post.content }}</p> {% endcomment %}
            </article>

            {% endfor %}    
        </div>
    {% endblock content %}