<!DOCTYPE html>  
{% load static %}
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>login page</title>  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>  
<body>  
    <div class="main">
        <div class="container1">

            <div class="leftside">
                <h1> Welcome Back </h1>
                <p> Please login using your personal <br> information to stay connected <br> with us. </p>
            </div>


            <div class="rightside">
                <h2> Sign In </h2>
                
                <label for="uname"><h3>Username</h3></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="uname"><h3>Password</h3></label>
                <input type="text" placeholder="Password" name="psw" required>

                <h4> Forgot <a href="/forgotpsw" style="color: black;"> Password? </a> </h4>

                <button type="submit">Login</button>

                <div class="account">
                <h5 style="color: black; font-size: 20px; margin-top: 15px;"> Don't have account? 
                    <a href="/signup" style="color: black; text-decoration: none;"> Sign up </a> </h5>
                </div>

            </div>

        </div>
    </div>
</body>  
</html>  