<!DOCTYPE html>  
{% load static %}
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Menu bar page</title>  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    
</head>  
<body> 
    <div class="container">

        <div class="logo-container">
            <h1> Logo Name </h1>
        </div>

        <div class="navbar">
            <a href="#home">Home</a>
            <a href="#news">News</a>

                <div class="dropdown">
                <button class="dropbtn"> Blog 
                    <i class="fa fa-caret-down"></i>
                </button>

                <div class="dropdown-content">
                    <a href="#">Blog 1</a>
                    <a href="#">Blog 2</a>
                    <a href="#">Blog 3</a>
                </div>

                </div> 

                <a href="#news">Contact Us</a>
        </div>

        <div class="icon">
            <i class="fa fa-instagram" aria-hidden="true" style="padding-right: 15px;"></i>
            <i class="fa fa-facebook-official" aria-hidden="true" style="padding-right: 15px;"></i>
            <i class="fa fa-twitter" aria-hidden="true" style="padding-right: 15px;"></i>
            <i class="fa fa-telegram" aria-hidden="true"></i>
        </div>
      
    </div>

    <div class="mainpage">
        <p>
            </br>
            </br>
            </br>
            When God created teachers,</br>
        He gave us special friends</br>
        To help us understand His world</br>
        And truly comprehend</br>
        The beauty and the wonder</br>
        Of everything we see,</br>
    </br>
        And become a better person</br>
        With each discovery.</br>
        When God created teachers,</br>
    </br>
        He gave us special guides</br>
        To show us ways in which to grow</br>
        So we can all decide</br>
        How to live and how to do</br>
        What’s right instead of wrong,</br>
    </br>
        To lead us so that we can lead</br>
        And learn how to be strong.</br>
        Why God created teachers,</br>
    </br>
        In His wisdom and His grace,</br>
    </br>
        Was to help us learn to make our world</br>
        A better and wiser place.
        </p>
    </div>
</body>  
</html>  
