<!DOCTYPE html>  
{% load static %}
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Page</title>  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>  
<body>  
    <div class="container">
        <h1> THE 2022 </br> ONE PAGE POETRY </h1>
        <p> Anthology </p>

        <h2> One Page Poetry is dedicated to the art of expressing a poetic theme on a </br> single page, whether that poem is four lines or forty, whether it is a love </br> poem, inspirational poem, philosophical poem, or just one that is fun or </br> whimsical. The poets represented in this compilation come from all over </br> the world. To say they are wonderfully talented would be an understate- </br> ment. They are also remarkably insightful. They are fearless in exploring </br> themes close to the heart, but also themes that are relevant to our world. </br> They explore emotions common to so many of us: joy and heartbreak; fear </br> and fearlessness; hope and love; tolerance and intolerance. </h2>
        <h2> At One Page Poetry, we believe in the bond between head, heart, and soul, </br> and the poems included here express that bond in ways completely unique </br> to each poet. Seeing our thoughts and emotions, our philosophies and be- </br> liefs, our victories and failures come to live on the page is the driving force </br> behind the One Page journey, and we are honored by individual gifts repre- </br> sented by the poems within these pages and beyond grateful to the poets </br> willing to share their poems without reservations and a willingness to be both </br> vulnerable and courageous. </h2>
        <h2> All proceeds from the sale of this book will go to the Wildlife Fund and </br> Oceana, two organizations dedicated to the protection of endangered spe- </br> cies and the preservation of their natural habitats. Thank you for joining us. </h2>
    </div>
</body>  
</html>  
