<!DOCTYPE html>  
{% load static %}
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Sign up page</title>  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <div class=""> </div> {% endcomment %}
</head>  
<body>  
    <div class="main">
        <div class="container">

            <div class="leftside">
                <h1> Welcome Back </h1>
                <p> Please login using your personal </br> information to stay connected </br> with us. </p>
            </div>


            <div class="rightside">
                <h2> Sign Up </h2>

                <label for="uname"><h3>Full Name</h3></label>
                <input type="text" placeholder="Enter Full Name" name="fname" required>
                
                <label for="uname"><h3>Username</h3></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="uname"><h3>Password</h3></label>
                <input type="text" placeholder="Enter Password" name="psw" required>

                {% comment %} <button type="submit"> <a href="/"> Sign Up</button> {% endcomment %}
                <button type="submit">Submit</button>

            </div>

        </div>
    </div>
</body>  
</html>  
