<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> HOME </h1>
    <p> This is Home <a href="about.html"></a> page </p>
</body>
</html>  -->


<!-- <!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Home</title>  
</head>  
<body>  
<h2>Welcome to Django!!!</h2>  
</body>  
</html>   -->



<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Home</title>  
</head>  
<body>  
    <h2>Welcome to Django!!!  (Home)</h2>  
    <p style="color: brown; font-size: 23px;"> This is Home---- <a href="about.html"></a> ----page </p>
</body>  
</html>  